<main>
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <h1 class="mb-5">Welcome to BookStore</h1>
                        <div class="d-flex justify-content-center mb-5">
                            <div>
                                <a href="@Url.Action("List", "Author")" class="btn btn-primary btn-md active" role="button">
                                    Browse Authors
                                </a>
                            </div>
                            <div class="px-2">
                                <a href="@Url.Action("New", "Book")" class="btn btn-success btn-md active" role="button">
                                    Publish Books
                                </a>
                            </div>
                            <a href="@Url.Action("New", "Rental")" class="btn btn-secondary btn-md active" role="button">
                                Rent a Book
                            </a>
                        </div>
                        @*<form class="">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Search" />
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary btn-md" id="submitButton" type="submit">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>*@
                    </div>
                </div>
            </div>
        </div>
    </header>

    @*<div class="container bg-trasparent my-4 p-3">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Book title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Available for rental</h6>
                        <p class="card-text">Book Price.</p>
                        <p class="card-text">Book ISBN</p>
                        <a href="#" class="card-link">Book Author</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card px-1" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Book title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Available for rental</h6>
                        <p class="card-text">Book Price</p>
                        <p class="card-text">Book ISBN</p>
                        <a href="#" class="card-link">Book Author</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Book title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Cannot rent</h6>
                        <p class="card-text">Book Price</p>
                        <p class="card-text">Book ISBN</p>
                        <a href="#" class="card-link">Book Author</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</main>